[workspace]
authors = ["Seth Stadick <sstadick@gmail.com>"]
channels = ["https://prefix.dev/conda-forge", "https://conda.modular.com/max-nightly"]
description = "Useful things that aren't in the standard library."
platforms = ["osx-arm64", "linux-64", "linux-aarch64"]
license = "Unlicense OR MIT"
preview = ["pixi-build"]

[package]
name = "extramojo"
version = "0.18.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.*" }
channels = [
    "https://prefix.dev/pixi-build-backends",
    "https://prefix.dev/conda-forge",
]

[package.host-dependencies]
mojo-compiler = ">=0.25.7.0.dev2025111005,<0.26"

[package.build-dependencies]
mojo-compiler = ">=0.25.7.0.dev2025111005,<0.26"

[package.run-dependencies]
mojo-compiler = ">=0.25.7.0.dev2025111005,<0.26"

# These are basically just dev deps, the real deps are specified in the recipe.yaml
[dependencies]
mojo = ">=0.25.7.0.dev2025111005,<0.26"

[tasks]
build = "pixi run mojo package extramojo -o extramojo.mojopkg"
r = { cmd = "pixi run mojo run -I . " } # run
t = { cmd = "sh -c 'find ./tests -name test_*.mojo | xargs -I % pixi run mojo run -I . -D ASSERT=all %'" } # test
format = "pixi run mojo format ./"
#t = { cmd = "pixi run mojo test -I . -D ASSERT=all" }
#test = { cmd = "pixi run mojo run -I . tests/test_file.mojo", depends-on = ["t",] }

# rattler-build tasks
rbuild = "pixi build"
rtest = { cmd = "rattler-build test -c conda-forge -c https://conda.modular.com/max-nightly --package-file ./extramojo*.conda", depends-on = [
    "rbuild",
] }
