name: Build and test
on: [push, pull_request]
jobs:
    build_and_test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install pixi CLI
              run: |
                  curl -fsSL https://pixi.sh/install.sh | sh
                  export PATH="/home/runner/.pixi/bin:$PATH"

            - name: Install mojo and dependencies
              run: |
                  export PATH="/home/runner/.pixi/bin:$PATH"
                  pixi install --locked

            - name: Run tests
              run: |
                  export PATH="/home/runner/.pixi/bin:$PATH"
                  pixi run t

            - name: Check formatting
              run: |
                  export PATH="/home/runner/.pixi/bin:$PATH"
                  if pixi run mojo format extramojo/* 2>&1 | grep -E "reformatted|error|failed" ; then echo "Formatter failed" ; exit 1 ; else echo "Formatting OK"; fi
                  if pixi run mojo format tests/* 2>&1 | grep -E "reformatted|error|failed" ; then echo "Formatter failed" ; exit 1 ; else echo "Formatting OK"; fi
